# 선형 회귀분석모델2
# Predicting house prices in Boston area
## 살펴보기 & 정리

참고: [Predicting house prices in Boston area](http://aqibsaeed.github.io/2016-07-07-TensorflowLR/) <br>
github주소: [aqibaeed/Tensor-ML](https://github.com/aqibsaeed/Tensorflow-ML/blob/master/Linear%20Regression.ipynb)<br>

* Model : linear regression 모델
* Data : load_boston (from sklearn.datasets)<br>
[sklearn.datasets.load_boson](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_boston.html)<br>
[github_sourcecode](https://github.com/scikit-learn/scikit-learn/blob/a24c8b46/sklearn/datasets/base.py#L652)<br>
[Dataset loading utilities](http://scikit-learn.org/stable/datasets/index.html)<br>
[boston_house_prices.csv](https://github.com/scikit-learn/scikit-learn/tree/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/datasets/data)<br>
[boston_house_prices.rst](https://github.com/scikit-learn/scikit-learn/blob/a24c8b464d094d2c468a16ea9f8bf8d42d949f84/sklearn/datasets/descr/boston_house_prices.rst)

data desc
```
Attribute Information (in order):	
CRIM per capita crime rate by town
ZN proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS proportion of non-retail business acres per town
CHAS Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
NOX nitric oxides concentration (parts per 10 million)
RM average number of rooms per dwelling
AGE proportion of owner-occupied units built prior to 1940
DIS weighted distances to five Boston employment centres
RAD index of accessibility to radial highways
TAX full-value property-tax rate per $10,000
PTRATIO pupil-teacher ratio by town
B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
LSTAT % lower status of the population
MEDV Median value of owner-occupied homes in $1000's
```

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.node_ast_interactivity='all'

In [12]:
import tensorflow as tf
import numpy as np

#  dataset 준비
<hr>
## 1. data 살펴보기
예제에서 나온 데이터로는 아직 감이 잡히지 않으므로 data에 대해서 이해가 필요할 것 같다.
### scikit-learn의 boston data
```
return Bunch(data=data,
                 target=target,
                 # last column is target value
                 feature_names=feature_names[:-1],
                 DESCR=descr_text)
```

In [24]:
from sklearn import datasets

In [44]:
from sklearn.datasets import load_boston
boston = load_boston()
print(boston.data)
print(boston.data.shape)
print(boston.keys())
print(boston.feature_names)
# print(boston.DESCR)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]
(506, 13)
dict_keys(['data', 'target', 'feature_names', 'DESCR'])
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

### 1. pandas 이용해서 데이터 살펴보기

### 1.1 pandas 살펴보기
<hr>
**참고 페이지**: [pandas 공부하기](http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/02%20-%20Lesson.ipynb)

In [20]:
import pandas as pd
df = pd.read_csv('boston_house_prices_pd.csv')
# print(df)

df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [15]:
pd.read_csv?

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null int64
TAX        506 non-null int64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(11), int64(3)
memory usage: 55.4 KB

In [22]:
df = pd.read_csv('boston_house_prices_pd.csv', header=None) # header가 있으므로 이 경우에는 pass
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 14 columns):
0     507 non-null object
1     507 non-null object
2     507 non-null object
3     507 non-null object
4     507 non-null object
5     507 non-null object
6     507 non-null object
7     507 non-null object
8     507 non-null object
9     507 non-null object
10    507 non-null object
11    507 non-null object
12    507 non-null object
13    507 non-null object
dtypes: object(14)
memory usage: 55.5+ KB

In [23]:
df.tail()
df.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4

### 1.2 sklearn data to pandas
<hr>
참고 페이지: [Medium_Learning data science_Linear Regression on Boston Housing Dataset](https://medium.com/@haydar_ai/learning-data-science-day-9-linear-regression-on-boston-housing-dataset-cd62a80775ef)

In [46]:
boston = load_boston()

In [49]:
bos = pd.DataFrame(boston.data)
print(bos.head())

bos.columns = boston.feature_names
print(bos.head())

print(boston.target.shape)

        0     1     2    3      4      5     6       7    8      9     10  \
0  0.00632  18.0  2.31  0.0  0.538  6.575  65.2  4.0900  1.0  296.0  15.3
1  0.02731   0.0  7.07  0.0  0.469  6.421  78.9  4.9671  2.0  242.0  17.8
2  0.02729   0.0  7.07  0.0  0.469  7.185  61.1  4.9671  2.0  242.0  17.8
3  0.03237   0.0  2.18  0.0  0.458  6.998  45.8  6.0622  3.0  222.0  18.7
4  0.06905   0.0  2.18  0.0  0.458  7.147  54.2  6.0622  3.0  222.0  18.7

       11    12
0  396.90  4.98
1  396.90  9.14
2  392.83  4.03
3  394.63  2.94
4  396.90  5.33
      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33
(506,)

In [51]:
# target column 추가
bos['PRICE'] = boston.target
print(bos.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT  PRICE
0     15.3  396.90   4.98   24.0
1     17.8  396.90   9.14   21.6
2     17.8  392.83   4.03   34.7
3     18.7  394.63   2.94   33.4
4     18.7  396.90   5.33   36.2

In [52]:
print(bos.describe())

             CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.593761   11.363636   11.136779    0.069170    0.554695    6.284634
std      8.596783   23.322453    6.860353    0.253994    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082045    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.256510    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.647423   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.574901    3.795043    9.549407  408.237154   18.455534  356.674032
std     28.148861    2.105710    8.707259  168.537116    2.164946   91.294864
min      2.900000    1.129600    1.000000  187.000000   12.600000    0.320000
25%     45.025000    2.100175    4.000000  279.000000   17.400000  375.377500
50%     77.500000    3.207450    5.000000  330.000000   19.050000  391.440000
75%     94.075000    5.188425   24.000000  666.000000   20.200000  396.225000
max    100.000000   12.126500   24.000000  711.000000   22.000000  396.900000

            LSTAT       PRICE
count  506.000000  506.000000
mean    12.653063   22.532806
std      7.141062    9.197104
min      1.730000    5.000000
25%      6.950000   17.025000
50%     11.360000   21.200000
75%     16.955000   25.000000
max     37.970000   50.000000

### 2. sklearn data 살펴보기
**참고 페이지**: [sklearn_bostondata](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_boston.html)

```
data : Bunch

Dictionary-like object, the interesting attributes are: ‘data’, the data to learn, ‘target’, the regression targets, and ‘DESCR’, the full description of the dataset.
```

### 2. numpy 이용해서 data 살펴보기
### 2.1 numpy 이용해서 linear regression 분석 따라하기
참고페이지: [# Predicting house prices in Boston area, #linear_regression, #numpy, #sklearn](http://aqibsaeed.github.io/2016-07-07-TensorflowLR/)

#### data를 array로

In [53]:
def read_boston_data():
    boston = datasets.load_boston()
    features = np.array(boston.data)
    labels = np.array(boston.target)
    return features, labels

In [54]:
features, labels = read_boston_data()
print(features)
print(labels)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]
[24.  21.6 34.7 33.4 36.2 28.7 22.9 27.1 16.5 18.9 15.  18.9 21.7 20.4
 18.2 19.9 23.1 17.5 20.2 18.2 13.6 19.6 15.2 14.5 15.6 13.9 16.6 14.8
 18.4 21.  12.7 14.5 13.2 13.1 13.5 18.9 20.  21.  24.7 30.8 34.9 26.6
 25.3 24.7 21.2 19.3 20.  16.6 14.4 19.4 19.7 20.5 25.  23.4 18.9 35.4
 24.7 31.6 23.3 19.6 18.7 16.  22.2 25.  33.  23.5 19.4 22.  17.4 20.9
 24.2 21.7 22.8 23.4 24.1 21.4 20.  20.8 21.2 20.3 28.  23.9 24.8 22.9
 23.9 26.6 22.5 22.2 23.6 28.7 22.6 22.  22.9 25.  20.6 28.4 21.4 38.7
 43.8 33.2 27.5 26.5 18.6 19.3 20.1 19.5 19.5 20.4 19.8 19.4 21.7 22.8
 18.8 18.7 18.5 18.3 21.2 19.2 20.4 19.3 22.  20.3 20.5 17.3 18.8 21.4
 15.7 16.2 18.  14.3 19.2 19.6 23.  18.4 15.6 18.1 17.4 17.1 13.3 17.8
 14.  14.4 13.4 15.6 11.8 13.8 15.6 14.6 17.8 15.4 21.5 19.6 15.3 19.4
 17.  15.6 13.1 41.3 24.3 23.3 27.  50.  50.  50.  22.7 25.  50.  23.8
 23.8 22.3 17.4 19.1 23.1 23.6 22.6 29.4 23.2 24.6 29.9 37.2 39.8 36.2
 37.9 32.5 26.4 29.6 50.  32.  29.8 34.9 37.  30.5 36.4 31.1 29.1 50.
 33.3 30.3 34.6 34.9 32.9 24.1 42.3 48.5 50.  22.6 24.4 22.5 24.4 20.
 21.7 19.3 22.4 28.1 23.7 25.  23.3 28.7 21.5 23.  26.7 21.7 27.5 30.1
 44.8 50.  37.6 31.6 46.7 31.5 24.3 31.7 41.7 48.3 29.  24.  25.1 31.5
 23.7 23.3 22.  20.1 22.2 23.7 17.6 18.5 24.3 20.5 24.5 26.2 24.4 24.8
 29.6 42.8 21.9 20.9 44.  50.  36.  30.1 33.8 43.1 48.8 31.  36.5 22.8
 30.7 50.  43.5 20.7 21.1 25.2 24.4 35.2 32.4 32.  33.2 33.1 29.1 35.1
 45.4 35.4 46.  50.  32.2 22.  20.1 23.2 22.3 24.8 28.5 37.3 27.9 23.9
 21.7 28.6 27.1 20.3 22.5 29.  24.8 22.  26.4 33.1 36.1 28.4 33.4 28.2
 22.8 20.3 16.1 22.1 19.4 21.6 23.8 16.2 17.8 19.8 23.1 21.  23.8 23.1
 20.4 18.5 25.  24.6 23.  22.2 19.3 22.6 19.8 17.1 19.4 22.2 20.7 21.1
 19.5 18.5 20.6 19.  18.7 32.7 16.5 23.9 31.2 17.5 17.2 23.1 24.5 26.6
 22.9 24.1 18.6 30.1 18.2 20.6 17.8 21.7 22.7 22.6 25.  19.9 20.8 16.8
 21.9 27.5 21.9 23.1 50.  50.  50.  50.  50.  13.8 13.8 15.  13.9 13.3
 13.1 10.2 10.4 10.9 11.3 12.3  8.8  7.2 10.5  7.4 10.2 11.5 15.1 23.2
  9.7 13.8 12.7 13.1 12.5  8.5  5.   6.3  5.6  7.2 12.1  8.3  8.5  5.
 11.9 27.9 17.2 27.5 15.  17.2 17.9 16.3  7.   7.2  7.5 10.4  8.8  8.4
 16.7 14.2 20.8 13.4 11.7  8.3 10.2 10.9 11.   9.5 14.5 14.1 16.1 14.3
 11.7 13.4  9.6  8.7  8.4 12.8 10.5 17.1 18.4 15.4 10.8 11.8 14.9 12.6
 14.1 13.  13.4 15.2 16.1 17.8 14.9 14.1 12.7 13.5 14.9 20.  16.4 17.7
 19.5 20.2 21.4 19.9 19.  19.1 19.1 20.1 19.9 19.6 23.2 29.8 13.8 13.3
 16.7 12.  14.6 21.4 23.  23.7 25.  21.8 20.6 21.2 19.1 20.6 15.2  7.
  8.1 13.6 20.1 21.8 24.5 23.1 19.7 18.3 21.2 17.5 16.8 22.4 20.6 23.9
 22.  11.9]

참고페이지 : [preprocessing](http://scikit-learn.org/stable/modules/preprocessing.html)
<br>
참고페이지 : [housing_tutorial](http://www.neural.cz/dataset-exploration-boston-house-pricing.html)

#### data normalized

In [55]:
def feature_normalize(dataset):
    mu = np.mean(dataset, axis=0)
    sigma = np.std(dataset, axis=0)
    return (dataset - mu) / sigma

In [56]:
normalized_features = feature_normalize(features)

#### data 새로 구성하기

In [57]:
def append_bias_reshape(features, labels):
    n_training_samples = features.shape[0]
    n_dim = features.shape[1]
    # y축으로 column을 하나 추가하고, 추가된 값을 포함, 506 * 14로 바꾼다.
    f = np.reshape(np.c_[np.ones(n_training_samples), features], [n_training_samples, n_dim + 1])
    # Y 즉, 결과를 506*1 로 만든다.
    l = np.reshape(labels, [n_training_samples, 1])
    return f, l

In [59]:
print(features.shape[0]) # instance가 506 (row의 총 갯수)
print(features.shape[1]) # feature가 13 (=columns)

506
13

In [62]:
print(features) # x가 들어있다. 
# 13개의 feature를 가진 506개의 data

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 3.9690e+02 7.8800e+00]]

In [63]:
print(np.c_[np.ones(506), features])
# 맨 앞에 features에 컬럼 하나를 더 더했다.

[[1.0000e+00 6.3200e-03 1.8000e+01 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [1.0000e+00 2.7310e-02 0.0000e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [1.0000e+00 2.7290e-02 0.0000e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [1.0000e+00 6.0760e-02 0.0000e+00 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0000e+00 1.0959e-01 0.0000e+00 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [1.0000e+00 4.7410e-02 0.0000e+00 ... 2.1000e+01 3.9690e+02 7.8800e+00]]

In [64]:
# 506 * 14 배열로 바꾼다.
print(np.reshape(np.c_[np.ones(506), features], [506,(13+1)] ))

[[1.0000e+00 6.3200e-03 1.8000e+01 ... 1.5300e+01 3.9690e+02 4.9800e+00]
 [1.0000e+00 2.7310e-02 0.0000e+00 ... 1.7800e+01 3.9690e+02 9.1400e+00]
 [1.0000e+00 2.7290e-02 0.0000e+00 ... 1.7800e+01 3.9283e+02 4.0300e+00]
 ...
 [1.0000e+00 6.0760e-02 0.0000e+00 ... 2.1000e+01 3.9690e+02 5.6400e+00]
 [1.0000e+00 1.0959e-01 0.0000e+00 ... 2.1000e+01 3.9345e+02 6.4800e+00]
 [1.0000e+00 4.7410e-02 0.0000e+00 ... 2.1000e+01 3.9690e+02 7.8800e+00]]

In [66]:
print(labels.shape)

(506,)

In [70]:
# x값들이 들어 있는, normalized_feature는  506*14 배열
# y결과값들이 들어있는, labels는 506 * 1
f, l = append_bias_reshape(normalized_features, labels)
n_dim = f.shape[1]
print(n_dim)
print(len(f))

14
506

#### testing data와 traing data 나누기
#### 난수 발생과 카운팅
**seed설정: **컴퓨터 프로그램에서 발생하는 무작위 수는 사실 엄격한 의미의 무작위 수가 아니다. 어떤 특정한 시작 숫자를 정해주면 컴퓨터가 정해진 알고리즘에 의해 마치 난수처럼 보이는 수열을 생성한다. <br>
이런 시작 숫자를 시드(seed)라고 한다. <br>
특정한 seed값이 사용되면 그 다음에 만들어지는 난수들을 모두 예측할 수 있다. 즉, 코드의 결과를 재현하기 위해 항상 시드를 설정할 수 있다. <br>
참고페이지: [데이터사이언스스쿨_난수발생](https://datascienceschool.net/view-notebook/8bf41f87a08b4c44b307799577736a28/)

In [75]:
randf = np.random.rand(len(f))
print(len(f))
print(randf)

506
[0.97424784 0.48716358 0.14014911 0.12627265 0.72643102 0.13345372
 0.35747809 0.96606798 0.20305662 0.22897743 0.42964057 0.44670284
 0.71937496 0.73724217 0.58343324 0.5265326  0.25802241 0.51260905
 0.07630062 0.74872627 0.90956526 0.27323083 0.65769357 0.26543209
 0.41206569 0.5604801  0.38412742 0.1067861  0.3727241  0.76661401
 0.95050054 0.48244317 0.99233703 0.77661113 0.83876321 0.11670643
 0.08915308 0.50437042 0.08230196 0.55713525 0.92711791 0.1808298
 0.5265905  0.83742109 0.2507944  0.43795466 0.4997152  0.53613079
 0.36327921 0.44881269 0.38836112 0.10901767 0.45932494 0.19048216
 0.28277542 0.25510599 0.93574396 0.71409275 0.72922719 0.02039988
 0.50926923 0.70831629 0.67200651 0.5028223  0.1883081  0.51540096
 0.50071163 0.71115296 0.65628436 0.86531362 0.92740108 0.44692835
 0.35380832 0.6398657  0.25992723 0.70111839 0.01339406 0.56873711
 0.6290726  0.44592483 0.14831537 0.03677745 0.81353193 0.75957912
 0.93926618 0.25653124 0.20415138 0.85276549 0.24589098 0.45896605
 0.01725326 0.43392733 0.47974836 0.77553388 0.52950841 0.91908542
 0.31969512 0.47219015 0.27402588 0.85760578 0.84628689 0.56531671
 0.01665343 0.70501166 0.51189624 0.85785369 0.57324232 0.12689936
 0.33712789 0.32582471 0.78577376 0.28103983 0.6229383  0.02699472
 0.77591779 0.03308298 0.46868675 0.46225406 0.58910473 0.67916238
 0.8892196  0.00268188 0.6439413  0.02390043 0.26907214 0.20895599
 0.47608364 0.9219332  0.43708268 0.40438911 0.38470407 0.18509187
 0.41580513 0.93293797 0.56188576 0.71126481 0.82053726 0.53216345
 0.2324773  0.10180188 0.18996989 0.14450621 0.66258121 0.07975561
 0.14283508 0.82170826 0.68785678 0.12741888 0.031792   0.60852915
 0.778879   0.57974671 0.20023277 0.7561492  0.65228746 0.40018323
 0.87301215 0.72581353 0.39599654 0.48145318 0.40088277 0.39816305
 0.80536592 0.49724559 0.43185972 0.14849418 0.32540913 0.7723386
 0.02088454 0.38103601 0.61030142 0.11707395 0.70919369 0.2402901
 0.52956192 0.87459968 0.1804312  0.46068897 0.30269502 0.6903917
 0.39854755 0.05038592 0.84646337 0.05329785 0.35397534 0.47974927
 0.08568798 0.53705194 0.09045004 0.9490508  0.59687261 0.21053482
 0.19629477 0.81903703 0.16348871 0.44308656 0.08267544 0.47504551
 0.7859037  0.2564505  0.78674928 0.85477948 0.6741542  0.63328485
 0.50915486 0.14544666 0.48394503 0.47000173 0.5319146  0.08475011
 0.6015072  0.78626869 0.5327169  0.19111052 0.40984123 0.22820641
 0.80043208 0.03604956 0.50910721 0.56385388 0.0407892  0.9338868
 0.55088737 0.22745482 0.98087096 0.14578564 0.00329166 0.03257245
 0.01674777 0.66900734 0.094978   0.44189347 0.50845281 0.26610836
 0.23062198 0.22495241 0.11377606 0.19784935 0.70765298 0.86498702
 0.36842436 0.46648109 0.94900611 0.13992425 0.86298825 0.25431858
 0.27142262 0.83994181 0.14000997 0.46232578 0.50285129 0.03824747
 0.87252534 0.84007765 0.40701505 0.57765556 0.93060558 0.04149055
 0.9226503  0.24265856 0.77743093 0.37985331 0.4806848  0.09879127
 0.69419393 0.10404215 0.29352278 0.12595563 0.18230765 0.56648805
 0.66375714 0.89609818 0.33812364 0.93026988 0.09226306 0.43801178
 0.02313822 0.37421133 0.83957773 0.96431293 0.1861381  0.67494187
 0.94836664 0.42069662 0.31146135 0.84251973 0.36991697 0.53612196
 0.14724507 0.18235162 0.52194246 0.06197237 0.6925359  0.75969921
 0.05372401 0.30544667 0.18895669 0.2157153  0.47320545 0.93769667
 0.25810423 0.43425292 0.75517564 0.45938064 0.96417807 0.10470303
 0.1274192  0.12670022 0.14786029 0.96639744 0.18998056 0.16118889
 0.34358604 0.84858395 0.40675843 0.67906836 0.80784198 0.00331786
 0.17454776 0.6862241  0.40108614 0.20993691 0.03591841 0.56092168
 0.22141796 0.47111503 0.38064719 0.31901069 0.56315716 0.71184661
 0.87705188 0.24016736 0.91093264 0.43321322 0.64158949 0.52547881
 0.18423319 0.27504028 0.35147067 0.86019072 0.84774447 0.24858941
 0.86997515 0.30451419 0.65858737 0.57235766 0.32214157 0.13449754
 0.37647516 0.5221157  0.17601916 0.49658963 0.16182718 0.37977509
 0.55270315 0.71344796 0.07354005 0.80275408 0.55843677 0.21913196
 0.37480089 0.09621809 0.96883109 0.84382813 0.71989244 0.69667393
 0.41597741 0.94232652 0.05602942 0.17505338 0.33218539 0.55344355
 0.90727706 0.84372566 0.4727727  0.6323915  0.93154816 0.16816297
 0.56050515 0.0068705  0.87967522 0.67637125 0.45110159 0.92204558
 0.39379435 0.99062427 0.47652748 0.86847082 0.09138637 0.20804054
 0.06467949 0.80335955 0.2455222  0.32339425 0.50391703 0.73285514
 0.88259253 0.72680352 0.65355561 0.04673449 0.21591383 0.29339684
 0.91861723 0.11764457 0.19248651 0.32147728 0.36265458 0.00942377
 0.59257691 0.0163292  0.45048141 0.56391566 0.78479422 0.77409447
 0.22110016 0.47148278 0.31484425 0.83703283 0.49796157 0.45112334
 0.76183009 0.68489259 0.51560725 0.12170657 0.40348351 0.11569432
 0.45546733 0.12505726 0.89509741 0.12861829 0.20987861 0.20374116
 0.05910848 0.47090103 0.64100328 0.83459765 0.74044861 0.11645487
 0.81637169 0.84123726 0.12211497 0.36922748 0.59980822 0.95058444
 0.98309068 0.65904669 0.67522291 0.29360869 0.31586581 0.0672825
 0.11509136 0.76471578 0.89782863 0.67648999 0.26526742 0.52308105
 0.75999578 0.47077051 0.63481547 0.89474045 0.40244124 0.07650474
 0.01930682 0.95320104 0.79231355 0.00862296 0.40595064 0.00226702
 0.0730664  0.99317567 0.42155347 0.40340322 0.73557578 0.24302733
 0.16176989 0.1522969  0.10160555 0.94320129 0.14846296 0.31322924
 0.87129188 0.71254372 0.29522303 0.6762792  0.14284838 0.8715096
 0.67809824 0.2944953  0.08154477 0.60614781 0.61189204 0.36167452
 0.87310906 0.47315894 0.43301553 0.71272428 0.95157485 0.10989786
 0.40565885 0.01085512 0.06226301 0.97491185 0.37614267 0.68035862
 0.32080628 0.07288855]

In [76]:
rnd_indices = np.random.rand(len(f)) < 0.80
print(rnd_indices[8])
print(rnd_indices)

False
[ True  True  True False False  True  True  True False  True  True  True
 False  True False  True  True  True  True False  True False False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True False  True False  True  True False False  True False False  True
  True  True  True  True False  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False  True False  True  True
 False  True  True  True  True  True  True False  True  True  True  True
  True False False  True False False  True  True  True False  True  True
  True  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True False False  True  True  True  True False
  True  True  True  True  True  True False  True  True  True  True  True
 False  True  True  True  True  True False False  True False  True  True
  True  True False  True  True  True  True False  True False  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False  True  True  True  True  True False  True False
  True  True  True  True False  True  True  True  True  True  True  True
 False False  True  True  True  True  True  True  True  True False  True
  True  True False  True  True  True  True  True  True  True  True  True
  True  True False  True  True False  True  True  True  True  True  True
 False  True  True  True  True False  True  True  True  True  True  True
 False  True  True  True  True False  True  True  True False  True  True
  True  True  True  True  True False  True False  True  True  True  True
  True  True  True  True  True  True False False  True  True  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True False  True  True False
  True  True  True False  True  True  True  True  True  True  True  True
  True  True  True  True False  True False False  True  True False  True
  True  True  True  True  True  True False  True  True  True False  True
 False  True False  True False False  True  True  True  True  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True False  True  True  True False  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True False  True  True  True  True False
 False  True  True False  True False  True False  True  True  True False
  True False  True  True False  True  True  True  True False  True  True
 False  True  True  True  True  True  True  True  True False  True  True
  True  True  True False  True False  True False  True  True  True  True
 False  True False  True  True False  True  True False  True False  True
  True  True False  True  True False  True False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
  True  True  True  True  True  True  True False  True  True  True False
  True  True  True  True  True  True  True  True  True  True  True  True
 False  True]

#### training 데이터와 test data나누기

In [77]:
# true인것을 trainingdata, false를 testdata로 쓴다.
train_x = f[rnd_indices]
train_y = l[rnd_indices]
test_x = f[~rnd_indices]
text_y = f[~rnd_indices]

In [ ]:
X = tf.placeholder(tf.float32, shape=[None, 13])
Y = tf.placeholder(tf.float32, shape=[None, 1])

W = tf.Variable(tf.random_normal([13, 1]), name='weight')
b = tf.Variable(tf.random_normal([1]), name='bias')

hypothesis = tf.matmul(X, W) + b

In [ ]:
cost = tf.reduce_mean(tf.square(hypothesis - Y))
optimizer = tf.train.GradientDescentOptimizer(learning_rate = 0.01)
train = optimizer.minimize(cost)

In [ ]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())

for step in range(2001):
    cost_val, hy_val, _ = sess.run(
        [cost, hypothesis, train], feed_dict={X: x_data, Y: y_data})
    if step % 10 == 0:
        print(step, "Cost :", cost_val, "\nPrediction:\n", hy_val)